<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZB9YEwsrxcNmJs-A9TKSey4ALpQxfKrc</string>
	<key>GCM_SENDER_ID</key>
	<string>874292083497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jiwon.solmal</string>
	<key>PROJECT_ID</key>
	<string>solmal-55643</string>
	<key>STORAGE_BUCKET</key>
	<string>solmal-55643.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874292083497:ios:1215c7db0b964256ae1538</string>
</dict>
</plist>